.parent{
    width:500px;
    background-color: orange;
    padding:5px;
}
.child{
    width:100%;
    background-color: skyblue;
    padding:5px;
}
.grand{
    width:100%;
    background-color: lightgreen;
    padding:5px;
}